*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Setting Background */
body {
    height: 100vh;
    /* background: linear-gradient(180deg,
            rgba(190, 162, 162, 0.5), 
            rgb(4, 242, 222, 0.5)
            ); */
    background-color: rgb(131, 188, 245);
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    align-content: center;
    text-align: center;
    padding: 13px;
    background-color: rgba(4, 243, 163, 0.947);
    margin: 15px 35% 15px 35%;
    /* margin : top right bottom left;*/
    width: auto;
    border: 1px solid black;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-radius: 50px;
    box-shadow: 3px 7px 20px rgb(30, 5, 216);
}

.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    border-radius: 1px;
    width: 350px;
    padding: 7px;
    margin-bottom: 15px;
    border: 2px solid rgb(251, 5, 5);
    border-radius: 100px;
    box-shadow: 10px 10px 12px rgba(16, 8, 18, 0.572);

}

input:hover {
    background-color: white;
    border: 2px solid rgb(222, 10, 85);
    border-bottom: none;
    border-right: none;
}

td {
    padding-bottom: 10px;
}

button {
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(251, 243, 224);
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 2px solid rgb(228, 149, 235);
    border-radius: 10px;
    border-top: none;
    border-left: none;
    box-shadow: 5px 3px 7px rgba(12, 7, 14, 0.572);
}

button:hover {
    background-color: white;
    border: 2px solid rgb(11, 136, 84);
    border-bottom: none;
    border-right: none;
    transform: scale(1.05);
}

.calculator {
    background: linear-gradient(100deg, rgb(89, 49, 248), rgb(46, 241, 121));
    padding: 35px;
    display: inline-block;
    box-shadow: 17px 27px 30px 25px rgba(24, 24, 23, 0.572);
    border: 3px solid rgb(27, 25, 25);
    border-top: 1px solid rgb(27, 25, 25);
    border-left: 1px solid rgb(27, 25, 25);
    border-radius: 50px;
}